p {
  font-family: Roboto, Arial;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-color: rgb(222, 222, 222);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  padding-top: 2px;
}

.hamburger-menu-button {
  height: 36px;
  width: 36px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: background-color 0.15s;
}

.hamburger-menu-button:hover {
  background-color: rgb(216, 216, 216);
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  align-items: center;
}

.searchBar {
  width: 400px;
  height: 34px;
  font-size: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: solid;
  border-color: lightgray;
  border-width: 1px;
  padding-left: 10px;
}

.search-image {
  height: 20px;
}

.search-button {
  margin-left: 0;
  height: 36px;
  width: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; 
  align-items: center;
  border: solid;
  border-color: lightgray;
  border-width: 1px;
  cursor: pointer;
}

.voice-image {
  height: 22px;
}

.voice-search-button {
  margin-left: 15px;
  height: 38px;
  width: 36px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.upload-image {
  height: 30px;
  cursor: pointer;
}

.notification-image {
  margin-left: 20px;
  margin-right: 20px;
  height:30px;
  cursor: pointer;
}

.account-image {
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}





.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(232, 232, 232);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 12px;
}
